# Краткий путь: файл находится в той же папке data_analysis
DATA_PATH = './data.csv'
DATA_REFINED_PATH = './data_refined.csv'

# Рекомендовано: данные вынести в отдельную папку data 
BASE_DIR = '' #полный путь до проекта ecom-analysis
DATA_PATH = BASE_DIR + '/data/data.csv'
DATA_REFINED_PATH = BASE_DIR + '/data_refined.csv'
